.allview{
		height: 100vh;
}
.title{
	color: black;
	text-decoration: none !important;
}
.banner{
		background-color: #4c14d3;
}
.img-fluid{
		width: 70%;
}
.divForm{
		padding: 0% 10%;
}
.parrafo{
		padding: 0% 15%;
}
.btn-primary{
		background-color: #4c14d3 !important;
		border-color: #4c14d3 !important;
}
.color-text{
		color: #4c14d3 !important;
}
.terminos{
		color: #4c14d3 !important;
		font-weight: bold;
		text-decoration: underline 2px;
}
span{
	color: red;
	font-size: 12px;
	display: none;
}

@media (max-width: 768px){
	.banner{
		display: none !important;
	}
}

